.left-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 25vw;
    .form-group{
        margin-top: 1rem;
    }
    .country{
        width: 30%;
    }
    .button{
        text-align: right;
        button{
            background-color: #f2994a;
            border-radius: 0.7rem;
            padding: 1rem 0;
            color: #fff;
            font-weight: 600;
            border: none;
            min-width: 25%;
            &:hover{
                background-color: #f2c94c;
                cursor: pointer;
                transition: ease-in-out 0.3s;
            }
        }
    }
    .side-by-side{
        display: flex;
        justify-content: space-between;
        
        .form-group{
            width: 100%;
        }
    }
}

.form-group{
    .input-field{
        position: relative;
        i{
            position: absolute;
            color: $fontColor;
            font-size: 16px;
            top: 50%;
            transform: translateY(-50%);
            left: 3%;
        }
        input,select{
            border: 1px solid $fontColor;
            padding: 0.5rem 0.4rem 0.5rem 2rem;
            color: $fontColor;
            font-size: 1rem;
            border-radius: 0.3rem;
            width: 100%;
        }
    }
}